<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="auth-body">

<div class="auth-card">

    <div class="auth-title">🔐 Connexion</div>

    {% if error %}
        <div class="alert-error">
            {{ error }}
        </div>
    {% endif %}

    <form method="POST">

        <input type="email"
               name="email"
               placeholder="Email"
               required>

        <input type="password"
               name="password"
               placeholder="Mot de passe"
               required>

        <button type="submit">
            Se connecter
        </button>

    </form>

    <a href="/register">Créer un compte</a>

</div>

</body>
</html>