<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="auth-body">

<div class="auth-card">

    <div class="auth-title">🧾 Inscription</div>

    <form method="POST">

        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Mot de passe" required>

        <button type="submit">Créer le compte</button>

    </form>

    <a href="/login">Connexion</a>

</div>

</body>
</html>